<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="color: #F6F6F6; font-size: 22px;">
            <img src="">
            先锋回收-社区版
<!--            <@shiro.lacksRole name="0">-->
<!--            (商户)-->
<!--            </@shiro.lacksRole>-->
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="javascript:;" data-url="/admin/user/list">平台总览</a></li>
            <li class="layui-nav-item"><a href="javascript:;">商品管理</a></li>
            <li class="layui-nav-item"><a href="javascript:;">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                   <img src="${user.icon!}" class="layui-nav-img">
                    ${user.nickname!}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/admin/user/logout">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <@shiro.hasPermission name="user:p">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-website"></i>
                        平台设置
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">平台设置</a></dd>
                    </dl>
                </li>
            </@shiro.hasPermission>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-chart"></i>
                        回收管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">数据总览</a></dd>
                    </dl>
                </li>



                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-rmb"></i>
                        财务管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/admin/user/list">财务报表</a></dd>
                        <dd><a href="javascript:;">余额</a></dd>
                        <dd><a href="javascript:;">余额明细</a></dd>
                        <dd><a href="javascript:;">提现列表</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="layui-icon layui-icon-chart"></i>
                        统计中心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">
                            <i class="layui-icon">&#xe602;</i>
                            数据总览</a></dd>
                    </dl>
                </li>


                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-user"></i>
                        用户管理
                    </a>
                    <dl class="layui-nav-child">
                    <@shiro.hasRole name="0">
                    <dd><a href="javascript:;" data-url="/admin/user/list">
                        <i class="layui-icon">&#xe602;</i>
                        admin</a></dd>
                    </@shiro.hasRole>

                    <dd><a href="javascript:;">
                        <i class="layui-icon">&#xe602;</i>
                        回收员</a></dd>
                    <dd><a href="javascript:;">
                        <i class="layui-icon">&#xe602;</i>
                        核销人员</a></dd>
                    <@shiro.hasPermission name="user:p">
                    <dd><a href="javascript:;">
                        <i class="layui-icon">&#xe602;</i>
                        微信用户</a></dd>
                    </dl>
                    </@shiro.hasPermission>
                </li>
<!--                <li class="layui-nav-item"><a href="">日志管理</a></li>-->
<!--                <li class="layui-nav-item">-->
<!--                    <a href="javascript:;">开发文档</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a href="javascript:;" data-url="/admin/user/list">API文档</a></dd>-->
<!--                        <dd><a href="javascript:;">查询订单</a></dd>-->
<!--                        <dd><a href="javascript:;">支付通知</a></dd>-->
<!--                        <dd><a href="javascript:;">查询余额</a></dd>-->
<!--                        <dd><a href="">超链接</a></dd>-->
<!--                    </dl>-->
<!--                </li>-->
                <@shiro.hasRole name="0">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-set-fill"></i>
                        系統設置
                    </a>
                    <dl class="layui-nav-child">
                    <dd><a href="javascript:;">
                        <i class="layui-icon">&#xe602;</i>
                        角色管理</a></dd>
                    <dd><a href="javascript:;">
                        <i class="layui-icon">&#xe602;</i>
                        菜单管理</a></dd>
                    <dd><a href="javascript:;">
                        <i class="layui-icon">&#xe602;</i>
                        权限设置</a></dd>
                    </dl>
                </li>
            </@shiro.hasRole>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="jc">

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/layui/layui.js"></script>
<script>
    // layui.config({
    //     base: '/layui/'
    // })
    //     .use(['element', 'common', 'form'], function () {
    //         alert("111")
    //         var element = layui.element;//tab选项卡类的功能才能实现
    //         var form = layui.form;//部分表单元素功能才能实现
    //         $("#a").click(function () {
    //             var url=$(this).data("url");
    //             $("#jc").load(url);
    //
    //         })
    //
    //     });

    //JavaScript代码区域
    layui.use(['element','laypage'], function(){

        var form=layui.form;
        var $=layui.jquery;
        var element = layui.element;
       $("#jc").load("/admin/user/list");
        $("a").click(function () {
             var url=$(this).data("url");
             $("#jc").load(url);
            element.init();
            // $.ajax({
            // url:url,
            //     success:function (html) {
            //         $("#jc").html(html);
            //     }
            // })
        })
    });
</script>
</body>
</html>